@import "../../../../scss//variables.scss";

.profileModal {
    position: absolute;
    top: 0;
    left: 0;
    background: #6161607a;
    height: calc(100vh + 175px);
    width: 100%;
    display: grid;
    place-items: center;
    z-index: 1;
    animation: slide .5s;
    &__inner {
        position: relative;
        background: white;
        display: flex;
        flex-direction: column;
        padding: 15px;
        max-width: 800px;
        height: 900px;
        width: 100%;
        border-radius: 25px;
        &__close {
            position: absolute;
            top: 20px;
            right: 20px;
            img {
                cursor: pointer;
            }
        }
        &__header {
            border-bottom: .5px solid #a4a3a386;
            text-align: center;
            padding: 10px;
            p {
                font-size: 25px;
            }
        }
        &__avatar-wrapper {
            display: flex;
            align-items: center;
            margin: 20px 0;
            display: flex;
            padding: 0 50px;
            img {
                object-fit: contain;
                width: 100px;
                height: 100px;
                border-radius: 50%;
            }
            label {
                border: 1px solid #DBDBDB;
                outline: none;
                background: white;
                max-width: 170px;
                width: 100%;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 30px;
                cursor: pointer;
            }
        }
        &__personal-information {
            margin: 0px 0;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
            grid-gap: 30px;
            padding: 0 50px;
            &__input-group {
                display: flex;
                flex-direction: column;
                max-width: 300px;
                width: 100%;
                label {
                    padding: 5px;
                }
                input {
                    border: 2px solid #EBEBEB;
                    border-radius: 5px;
                    font-family: 'Manrope';
                    font-size: 15px;
                    outline: none;
                    width: 100%;
                    height: 40px;
                    padding: 0 10px;
                }
                &__custom-input {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border: 2px solid #EBEBEB;
                    border-radius: 5px;
                    padding: 0 10px;
                    div {
                        display: flex;
                        align-items: center;
                        img {
                            width: 20px;
                        }
                    }
                    img {
                        cursor: pointer;
                        object-fit: contain;
                        width: 14px;
                    }
                    input {
                        border: none;
                    }
                }

                &__admbuttons{
                    width: 200px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    button{
                        width: 90px;
                        height: 40px;
                        font-size: 20px;
                        color: #fff;
                    }

                    &__active{
                        background: $buttonBg;
                    }

                    &__notactive{
                        background: $buttonBorder;
                    }

                    margin-bottom: 10px;
                }
            }
        }
        &__desc {
            display: flex;
            flex-direction: column;
            padding: 0 50px;
            padding-bottom: 50px;
            
            label {
                font-size: 15px;
                padding: 5px;
            }

            textarea {
                max-width: 450px;
                border: 2px solid #EBEBEB;
                border-radius: 5px;
                resize: vertical;
                max-height: 120px;
                outline: none;
                padding: 10px;
            }

        }
        &__edit-options {
            padding: 20px;
            border-top: .5px solid #a4a3a369;
            width: 100%;
            display: flex;
            justify-content: space-between;
            button {
                max-width: 200px;
                width: 100%;
                height: 40px;
                font-size: 17px;
            }
            button:first-child {
                color: #A2A2A2;
            }
            button:nth-child(2) {
                background: #3E66FF;
                color: white;
            }
        }
    }
}

@keyframes slide {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}