.profileSettings {
    min-height: calc(100% - 324px);
    height: fit-content;
    display: flex;
    padding: 20px 30px;
    main {
        display: flex;
        flex: 0.5;
        margin: 0 auto;
    }
}

.profileSettings {
    &__aside {
        display: flex;
        flex: 0.2;
        &__nav {
            display: flex;
            flex-direction: column;
            &__link {
                padding: 5px 0;
                padding-left: 15px;
                display: flex;
                align-items: center;
                font-size: 15px;
                color: #7D7D7D;
                margin: 5px 0;
                position: relative;
                img {
                    padding-right: 5px;
                    object-fit: contain;
                    width: 30px;
                }
            }
            &__link.active, &__link:hover {
                &::after {
                    position: absolute;
                    content: '';
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 5px;
                    background: #3E66FF;
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                    opacity: .28;
                }                
                background: #EFEFEF;
                border-radius: 7px;
                color: black;
            }
        }
    }
}