@import "../../../scss/variables.scss";

.job-panel {
    width: 100%;
    margin-bottom: 3rem;
    &__top {
        display: flex;
        img.logo {
            padding-right: 5px;
            height: 40px;
        }
        img.options {
            height: 20px;
            padding: 0 .5rem;
            cursor: pointer;
        }
        .info {
            width: 100%;
            small {
                color: #8b8b8b;
                font-size: 14px;
            }
        }
        
        &__following{
            background: $buttonBg;
            color: #fff;
        }

        &__notFollowing{
            border: 2px solid #3E66FF;
            background: #fff;
        }

        &__following,
        &__notFollowing{
            font-weight: bold;
            padding: 0 12px;
            margin: 0 1rem;
            white-space: nowrap;
            height: 26px;
        }
    }
    img {
        max-width: 100%;
    }
    h2 {
        padding: 0 1.2rem !important;
    }
    &__requirements {
        display: flex;
        padding: .8rem 1.2rem !important;
        &__requirement {
            background-color: #3E66FF;
            color: white;
            font-weight: bold;
            padding: 6px 4px;
            margin-right: .6rem;
            max-width: fit-content;
            border-radius: 5px;
        }
    }
    &__bottom {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid lightgray;
        img {
            padding-top: .5rem;
            height: 40px;
        }
        &__price-wrapper {
            small {
                color: #8b8b8b;
                font-weight: 600;
            }
            h2 {
                font-size: larger;
                padding: 0 !important;
            }
        }
    }
}
