@import "../../scss/variables.scss";
@import '../../scss/mixins.scss';

.auth-home {
    display: flex;
    justify-content: space-around;
    padding: 2rem 5rem 0 5rem;
    height: calc(100vh - 70px);
    .panel {
        width: 100%;
        min-width: 20vw;
        box-shadow: 2px 3px 10px 2px #b1b1b1;
        border: 1px solid lightgray;
        border-radius: .7rem;
        > * {
            padding: 1.2rem;
        }
    }
    &__left {
        &__user {
            display: flex;
            border-bottom: 1px solid lightgray;
            padding: 2rem 1.2rem !important;
            background: url(../../assets/svg/home/user-background.svg);
            background-repeat: no-repeat;
            background-size: cover;
            img {
                object-fit: contain;
                width: 80px;
                height: 80px;
                border-radius: 50%;
            }
            .username-wrapper {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-left: 1.5rem;
                h2 {
                    display: flex;
                    margin-bottom: .5rem;
                    span {
                        font-size: 22px;
                        font-weight: bold;
                        margin-left: .7rem;
                        color: #3E66FF;
                    }
                }
                small {
                    color: #5a5a5a;
                }
            }
        }
        &__premium {
            border-bottom: 1px solid lightgray;
            font-size: 17px;
            font-weight: bold;
            color: #5a5a5a;
            img {
                margin-right: .5rem;
            }
        }
        &__contacts {
            border-bottom: 1px solid lightgray;
            padding-bottom: 3rem !important;
            h3 {
                color: gray;
                font-size: larger;
                margin-bottom: 1rem;
            }
            p {
                font-size: 17px;
            }
        }
        &__saved {
            background-color: lightgray;
            p {
                font-size: 20px;
                font-weight: bold;
                color: #5a5a5a;
                display: flex;
                align-items: flex-end;
                cursor: pointer;
                img {
                    height: 26px;
                    margin-right: .5rem;
                }
                &:hover {
                    color: #3E66FF;
                }
            }
        }
    }
    &__middle {
        display: flex;
        flex-direction: column;
        &__job-options {
            display: flex;
            justify-content: space-around;
            margin-bottom: 3rem;
            &__job-option {
                padding: 1rem 1rem 0 1rem !important;
                h3 {
                    color: #5a5a5a;
                    cursor: pointer;
                }
                div {
                    margin-top: 1rem;
                }
                &.active {
                    h3 {
                        color: black;
                    }
                    div {
                        border-top: 5px solid #C9D4FF;
                        border-radius: 5px 5px 0 0;
                    }
                }
            }
        }
        &__jobs {
            height: 100%;
            padding: 2%;
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow: visible;
            .scroll {
                overflow-y: auto;
            }
        }
        &__create-job-button {
            margin-bottom: 2rem;
            button {
                background-color: #3E66FF;
                color: white;
                border: none;
                padding: .4rem;
                font-size: 16px;
            }
        }
        &__users {
            &__user {
                display: flex;
                cursor: pointer;
                padding: .6rem 1.2rem !important;
                margin: .3rem .5rem;
                border-radius: 10px;
                align-items: center;
                img {
                    @include avatar;
                }
                &__info {
                    width: 100%;
                    padding-right: 1rem;
                    #username {
                        font-size: 16px;
                    }
                    #last-msg {
                        color: #8b8b8b;
                        font-size: 14px;
                    }
                    small {
                        font-size: 14px;
                        font-family: 'Manrope';
                        color: gray;
                    }
                }
                &:hover {
                    background-color: #e7e7e7;
                }
                button {
                    background-color: #3E66FF;
                    color: white;
                    border: none;
                    padding: .4rem;
                    height: fit-content;
                    white-space: nowrap;
                }
            }
        }
    }
    &__right {
        .panel {
            margin: .5rem 0 3rem 0
        }
        &__chat {
            max-height: 200px;
            overflow-x: hidden;
            overflow-y: auto;
            &__contact {
                display: flex;
                cursor: pointer;
                padding: .6rem 1.2rem !important;
                margin: .3rem .5rem;
                border-radius: 10px;
                img {
                    @include avatar;
                }
                &__info {
                    width: 100%;
                    #username {
                        font-size: 16px;
                    }
                    #last-msg {
                        color: #8b8b8b;
                        font-size: 14px;
                    }
                }
                &__last-msg-time {
                    color: #8b8b8b;
                    font-size: 14px;
                }
                &:hover {
                    background-color: #e7e7e7;
                }
            }
        }
        &__recomendations {
            &__recomendation {
                display: flex;
                img {
                    padding-right: 5px;
                    border-radius: 50%;
                    height: 40px;
                }
                .info {
                    width: 100%;
                    #name {
                        font-size: 16px;
                    }
                    #info {
                        color: #8b8b8b;
                        font-size: 14px;
                    }
                }
                button {
                    background-color: #3E66FF;
                    color: white;
                    font-weight: bold;
                    border: none;
                    padding: 0 12px;
                    white-space: nowrap;
                    height: 26px;
                }
            }
        }
    }
}
.footer {
    display: none;
}

@media (max-width: 1400px) {
    .auth-home {
        padding: 2rem 1rem;
        padding-bottom: 0;
    }
}

@media (max-width: 1290px) {
    .auth-home {
        .panel {
            min-width: 30vw;
        }
        &__left {
            display: none;
        }
        &__middle {
            &__jobs {
                width: 100%;
            }
        }
    }
}

@media (max-width: 860px) {
    .auth-home {
        &__middle {
            width: 80vw;
        }
        &__right {
            display: none;
        }
    }
}

@media (max-width: 670px) {
    .auth-home {
        &__middle {
            width: 90vw;
            &__job-options {
                &__job-option {
                    text-align: center;
                    h3 {
                        span {
                            display: none;
                        }
                    }
                }
            }
        }
        &__right {
            display: none;
        }
    }
}

@media (max-width: 425px) {
    .auth-home {
        &__middle {
            &__job-options {
                &__job-option {
                    padding: 1rem .2rem 0 .2rem !important;
                }
                margin-bottom: 1rem;
            }
        }
    }
}
