@mixin avatar {
  padding-right: 5px;
  border-radius: 50%;
  object-fit: contain;
  height: 40px;
}
@mixin profile {
  display: flex;
  width: 100%;
  justify-content: center;
  img {
    @include avatar;
  }
  &__text {
      #username {
          position: relative;
          top: 5px;
      }
      #activity-status {
          font-size: 12px;
      }
  }
}